<header>
    <div class="has-text-centered">
        <img src="/assets/images/logo.png" alt="" width="145" height="auto">
    </div>
    <nav class="navbar-tabs">
        <a href="#" class="navbar-item">HOME</a>
        <a href="#" class="navbar-item">MY FAVORITE</a>
        <a href="#" class="navbar-item">CONTACT US</a>
        <a href="#" class="navbar-item">GAME</a>
        <a href="#" class="navbar-item">HISTORY</a>
        <a href="#" class="navbar-item">LOGIN</a>
        <a href="#" class="navbar-item">PROFILE</a>
        <a href="#" class="navbar-item">LOGOUT</a>    
    </nav>
</header>
